<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>
<p>役職: <%= @user.position %></p>
<p>所属部署: <%= @user.unit.name %></p>

<%= link_to "新規投稿", new_post_path %>

<%= link_to "全てのユーザーの投稿一覧", posts_path %>

<%= link_to "#{current_user.name}の投稿一覧", my_posts_path %>

<%= link_to "ブックマーク&コメント一覧", markings_path %>

<h1><%= @user.unit.name %>の投稿一覧</h1>

<table>
  <thead>
    <tr>
      <th>Ocurence</th>
      <th>Content</th>
      <th>Location</th>
      <th>Train code</th>
      <th>user</th>
      <th>label</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= l post.ocurence %></td>
        <td><%= post.content %></td>
        <td><%= post.location %></td>
        <td><%= post.train_code %></td>
        <td><%= post.user.name %></td>
        <td>
          <% post.labels.each do |label| %>
            <%= label.name %>
          <% end %>
        </td>
        <td><%= link_to 'Show', post %></td>
      </tr>
    <% end %>
  </tbody>
</table>