<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ocurence %>
    <%= form.datetime_field :ocurence %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :train_code %>
    <%= form.text_field :train_code %>
  </div>

  <div class="field">
    <%= form.label :label %>
    <%= form.collection_check_boxes(:label_ids, Label.all, :id, :name) %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
