<p id="notice"><%= notice %></p>

<p>
  <strong>Ocurence:</strong>
  <%= @post.ocurence %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Location:</strong>
  <%= @post.location %>
</p>

<p>
  <strong>Train code:</strong>
  <%= @post.train_code %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
