<p id="notice"><%= notice %></p>

<p>
  <strong>Ocurence:</strong>
  <%= @post.ocurence %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Location:</strong>
  <%= @post.location %>
</p>

<p>
  <strong>Train code:</strong>
  <%= @post.train_code %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.name %>
</p>

<div class="container">
  <p id="notice"><%= notice %></p>

  <p>コメント一覧</p>

  <div id="comments_area">
    <%= render partial: 'comments/index', locals: { comments: @comments, post: @post } %>
  </div>

  <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>

  <%= link_to '編集', edit_post_path(@post) %> |
  <%= link_to '戻る', posts_path %>
</div>

<% unless @post.user_id == current_user.id %>
  <% if @book_mark.present? %>
    <%= link_to 'ブックマークを解除する', book_mark_path(id: @book_mark.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'ブックマークする', book_marks_path(post_id: @post.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
