<!DOCTYPE html>
<html>
  <head>
    <title>Trails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
  </head>
  <body>
    <nav class="navbar sticky-top">
      <h1 class="p-3 top_title">
        <i class="fas fa-subway"></i>
        Trails
      </h1>
    <div class="header_menu">
      <% if current_user.present? && current_user.admin? %>
        <%= link_to "管理者", rails_admin_path %>
      <% end %>
      <% if logged_in? %>
        <%= link_to "ユーザートップページ", user_path(current_user.id) %>
        <%= link_to "ログアウト", session_path(current_user.id), method: :delete %>
      <% else %>
        <%= link_to 'ゲストユーザー(管理者)', guest_admin_path, method: :post%>
        <%= link_to 'ゲストユーザー(一般)', guest_path, method: :post %>
        <%= link_to "新規作成", new_user_path %>
        <%= link_to "ログイン", new_session_path %>
      <% end %>
    </nav>
    
    <% if notice %>
      <div id="notice" class="notice"><%= notice %></div>
    <% end %>

    <div class="body">
      <div class="yield">
        <%= yield %>
      </div>
  </body>

    <footer class="footer">
      <p>©2022 Trails</p>
    </footer>
  </div>
  </body>
</html>